.usfa-bio-wrap {
    margin: 40px 0 20px 0;
    border: 1px solid #eee;
    padding: 20px;
    display: block;
    overflow: hidden;
}

.usfa-bio-wrap .avatar-image {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.usfa-bio-content .author-name {
    font-weight: bold;
    padding-bottom: 10px;
}

ul.usfa-socials {
    clear: both;
    margin: 15px;
    padding: 0;
    list-style: none;
}

ul.usfa-socials li {
    display: inline-block;
    border: 1px solid #eee;
    padding: 3px 10px;
}

ul.usfa-socials li a {
    text-decoration: none;
}